.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: $white;
        @include heading-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($white, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out($theme-primary, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 400;
                letter-spacing: 1px;
                color: white;
                padding-bottom: 5px;
                border-radius: 0;
                &:hover,
                &:focus {
                    color: $white;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav li a:hover {
      color: $theme-primary;
    }
    .navbar-nav>.active>a,
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        border-radius: 0;
        color: $white;
        border-bottom: none;
        background-color: transparent;
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a,
        .navbar-nav>.active>a:hover,
        .navbar-nav>.active>a:focus {
            border-bottom: 1px solid $white;
        }
    }
}

// Navbar Change on Scroll

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $black;
        opacity: .85;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

header {
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    position: relative;
    .intro-text {
        padding-top: 200px;
        padding-bottom: 100px;
        max-width: 700px;
        margin: 0 auto;

        .intro-lead-in {
            font-weight: 100;
            font-style: normal;
            font-size: 3em;
            line-height: 1em;
            margin-bottom: 0;
            padding-bottom: .5em;
            border-bottom: 1px solid #fff;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 100;
            font-size: 1.25em;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            .intro-lead-in {
                font-weight: 100;
                font-style: normal;
                font-size: 4em;
                line-height: 40px;
                margin-bottom: 0;
                padding-bottom: .5em;
                border-bottom: 1px solid #fff;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 100;
                font-size: 1.5em;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}
