.aboutme-heading {
    margin: 15px 0;
    text-transform: none;
    color: $theme-primary;
    font-weight: 400;
    font-size: 1.5em;
}

i.fa.fa-pencil-square-o.fa-stack-1x.text-primary {
    left: .1em;
}

.text-center-aboutme {
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 50px;
}
